.Page-Container {
  position: relative;
  min-height: 100vh;
}

.App {
  padding: 30px 30px 30px 30px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  height: 70vh;
  padding-bottom: 5rem;
}

.App-instructions {
  font-size: calc(9px + 1vmin);
  color: black;
}


.App-link {
  color: #61dafb;
}

.Info {
  padding-left: 30px;
  padding-right: 30px;
  min-height: 20vh;
}

.Info-text{
  color: black;
  font-size: calc(5px + 1vmin);
}

.Info-header{
  padding-top: 10vh;
  font-size: calc(5px + 2vmin);
  color: black;
}
